# Ignoruj pliki środowiska wirtualnego
.venv/
hubvenv/

# Ignoruj pliki Pythonowe
*.pyc
__pycache__/

# Ignoruj pliki bazy danych SQLite
django_app/db.sqlite3
*.sqlite3-journal

# Ignoruj lokalne ustawienia
django_app/django_app/local_settings.py

# Ignoruj migracje Django (jeśli nie chcesz ich przechowywać w repozytorium)
django_app/hub/migrations/
django_app/django_app/migrations/

# Ignoruj pliki logów
*.log

# Ignoruj foldery środowiska IDE
.idea/
.vscode/
*.swp